<!DOCTYPE html>
<html>
<head>
    <title>Sole Search</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" href="/">Sole Search</a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/price-changes">Price Changes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guide">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data_visualization">Data Visualization</a>
                </li>
            </ul>
        </nav>
        
        <div class="pipeline-info">
            <h2>Pipeline Health Info</h2>
            <p>Last checked: {{ last_check }}</p>
        </div>

        <div class="pipeline-header">
            <h3>Pipeline Health</h3>
            <span class="tooltip-trigger">ⓘ
                <span class="tooltip-content">
                    Last checked: {{ last_check }}
                </span>
            </span>
        </div>

        <div class="status-container">
            {% for key, value in status.items() %}
            <div class="status-item">
                <div class="status-indicator {% if value.danger %}status-danger{% elif value.warning %}status-warning{% else %}status-ok{% endif %}"></div>
                <div class="status-label">{{ key|title }}</div>
                <div class="status-count">
                    {% if value.count == 0 %}
                        100% Success
                    {% else %}
                        {{ ((1 - (value.count / new_entries)) * 100)|round|int }}% Success
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/ty-stratton" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/ios-filled/50/4ec9b0/linkedin.png" alt="LinkedIn" />
        </a>
        <a href="https://github.com/tystratton" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/ios-filled/50/4ec9b0/github.png" alt="GitHub" />
        </a>
    </div>

    <!-- Rest of your content -->

    <footer class="footer">
        <div class="container">
            <p>&copy; <span id="copyright-year"></span> Ty Stratton. All rights reserved.</p>
        </div>
    </footer>

    <script>
        // Set the copyright year to the current year
        document.getElementById('copyright-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
